# VCF parsing
cyvcf2==0.30.22

# Analytics and ML
tensorflow==2.12.0
tensorflow_text==2.12.1
tensorboard-plugin-profile==2.13.1
keras-tuner==1.4.7
scikit-learn==1.2.2
shap==0.44.1
ollama==0.6.1
langchain-ollama==1.0.1
langchain==1.2.0
langgraph==1.0.5

# Graphics
matplotlib==3.7.1
seaborn==0.12.2

# Data Exploration
jupyterlab==4.3.4

# Dataset
h5py==3.7.0

# For improved debugging speed
cython==0.29.33

# UI
progressbar2==4.5.0

# Tests
pytest==7.3.1
